In [ ]:
import pandas as pd
import numpy as np

# print current working directory
import os
print(os.getcwd())

# read csv file
df = pd.read_csv('cars_filtered.csv')

# print the column names that begins with 'm'
print(df.columns[df.columns.str.startswith('B')])

# unique values of Brand column
print(df['Brand'].unique())

# nunber of columns name that contains '?' in the column name
print(sum(df.columns.str.contains('\-')))

c:\Users\sebas\Desktop\universit\IASD\Dataacquisition\cars\allcars3\data
Index(['Brand', 'Body type', 'Battery voltage', 'Battery technology',
       'Battery weight', 'Battery location'],
      dtype='object')
['Abarth' 'AC' 'Acura' 'AITO' 'Aiways' 'Aixam' 'Alfa Romeo' 'Anfini'
 'Apollo' 'Alpina' 'Alpine' 'Appollen' 'Arcfox' 'Aria' 'Ariel' 'Aro'
 'Artega' 'Asia' 'Aspark' 'Aston Martin' 'Astro' 'Audi' 'Aurus']
45
                    q_body_type   q_eco                q_speed  \
0         SUV, 5 Doors, 5 Seats  Euro 5  210 km/h | 130.49 mph
1         SUV, 5 Doors, 5 Seats     NaN  214 km/h | 132.97 mph
2  Coupe, SUV, 5 Doors, 5 Seats  Euro 5  215 km/h | 133.59 mph
3  Coupe, SUV, 5 Doors, 5 Seats     NaN  219 km/h | 136.08 mph
4         SUV, 5 Doors, 5 Seats     NaN  200 km/h | 124.27 mph

            q_power q_engine_size q_n_cylinders  \
0  175  Hp, 270  Nm         1.3 l     4, Inline
1  180  Hp, 270  Nm         1.3 l     4, Inline
2  175  Hp, 270  Nm         1.3 l     4, Inline
3  180  Hp, 270  Nm         1.3 l     4, Inline
4  282  Hp, 345  Nm           NaN           NaN

                                        q_drivetrain  q_length   q_width  \
0  Front wheel drive. Internal Combustion engine....  4115  mm  1777  mm
1  Front wheel drive. Internal Combustion engine....  4115  mm  1777  mm
2  Front wheel drive. Internal Combustion engine....  4425  mm  1780  mm
3  Front wheel drive. Internal Combustion engine....  4425  mm  1780  mm
4  Front wheel drive. BEV (Electric Vehicle). One...  4187  mm  1779  mm

  q_curb_weight
0      1280  kg
1      1281  kg
2      1299  kg
3      1299  kg
4      1625  kg

In [120]:
cols = df.columns.tolist()
i = 0

In [178]:
i += 10
df[cols[i:i+10]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1694 rows x 0 columns]

In [181]:
# check if there are colums with only nan values
df.columns[df.isnull().all()]

Index(['Electric motor 1', 'Electric motor 2', 'Electric motor 3',
       'Electric motor 4'],
      dtype='object')

In [ ]:
# print all columns whose name end with '?'
check = False
for col in df_audi.columns:
    if col.endswith('?'):
        print(col)
        check = True

if not check:
    print('No columns found with "?" in their name')

No columns found with "?" in their name

In [83]:
print(df_audi.filter(regex='^[Gg]', axis=1))

    gross_weight                        Generation Gross battery capacity
0       2095  kg  A3 allstreet (8Y, facelift 2024)               25.7 kWh
1       3180  kg                         Q8 e-tron                114 kWh
2       2870  kg                   A6 Avant e-tron                100 kWh
3       2860  kg               A6 Sportback e-tron                100 kWh
4       2685  kg                   A6 Avant e-tron                 83 kWh
..           ...                               ...                    ...
499          NaN                 Q3 Sportback (F3)                    NaN
500     2045  kg                 Q3 Sportback (F3)                    NaN
501     2850  kg        Q7 (Typ 4M, facelift 2019)                0.5 kWh
502     2830  kg        Q7 (Typ 4M, facelift 2019)                0.5 kWh
503     2210  kg                 Q3 Sportback (F3)                    NaN

[504 rows x 3 columns]

In [99]:
# Print all name of columns whose name starts with 's' or 'S'

# print(df_audi.filter(regex='^[sS]', axis=1))

# print first entry of speed
print(f'First entry of speed: {df_audi["speed"][0]}')

index_list = df_audi['speed'][df_audi['speed'].apply(lambda x: '<' in x)].index
index_list = list(index_list)

print(f'index_list: {index_list}')
# print the entries that contain '<' in the 'speed' column
print(f'Entries that contain "<" in speed column: {df_audi["speed"][index_list]}')



# print all data types in the 'speed' column
print(df_audi['speed'].apply(lambda x: type(x)).unique())


# print the length of the 'speed' column
print(f'Length of speed column: {len(df_audi["speed"])}')

#count the number of entries that contain 'mph' in the 'speed' column
print(f'Max speed in speed column: {df_audi["speed"].apply(lambda x: "mph" in x).sum()}')

# print the number of entries that contain '<' in the 'speed' column
print(f'Number of entries with "<" in speed column: {df_audi["speed"].apply(lambda x: "<" in x).sum()}')

# print the number of entries that are == 'nan' in the 'speed' column
print(f'Number of entries with "nan" in speed column: {df_audi["speed"].apply(lambda x: x == "nan").sum()}')

First entry of speed: 225 km/h | 139.81 mph
index_list: [310]
Entries that contain "<" in speed column: 310    0-100 km/h: <4  sec
Name: speed, dtype: object
[<class 'str'>]
Length of speed column: 504
Max speed in speed column: 501
Number of entries with "<" in speed column: 1
Number of entries with "nan" in speed column: 2